services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    image: react-vite
    container_name: react-vite
    volumes:
      - ./:/app:rw
    ports:
      - "5173:5173"  
  
